### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
total_players = purchase_data['SN'].unique()
datacount = purchase_data['SN'].count()
print(f'Unique players {len(total_players)} out of {datacount} entries')

Unique players 576 out of 780 entries

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
unique_items = purchase_data['Item Name'].unique()
print(f'Number of Unique Items is {len(unique_items)}')

Number of Unique Items is 179

In [5]:
average_price = purchase_data['Price'].mean()
total_revenue = purchase_data['Price'].sum()
print(f'Average price is ${average_price:0.2f} for a total revenue of ${total_revenue:.2f}')

Average price is $3.05 for a total revenue of $2379.77

In [6]:
total_df = pd.DataFrame({'Unique Items' : [f'{len(unique_items)}'],
                        'Average Price' : [f'${average_price:0.2f}'],
                        'Total Revenue' : [f'${total_revenue:.2f}']})
total_df.index = ['Summary']

In [7]:
total_df

        Unique Items Average Price Total Revenue
Summary          179         $3.05      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
byID = purchase_data.groupby("SN")
player_count = len(byID)
demographics = purchase_data.groupby(['SN', 'Gender']).size().unstack().count()
df = pd.DataFrame(demographics)
df.columns = ['Count']
df['Percent'] = df['Count'] / player_count * 100

In [9]:
df

                       Count    Percent
Gender
Female                    81  14.062500
Male                     484  84.027778
Other / Non-Disclosed     11   1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
purch_count = purchase_data.groupby(['SN', 'Gender']) ['Price'].agg(['sum','count'])
df = purch_count.reset_index()

In [11]:
byGender = df.groupby('Gender').agg({'sum': ['count', 'sum', 'mean'],
                         'count': ['mean','sum']})
byGender.columns = ['Number of Buyers', 
                    'Purchase Total', 
                    'Average Purchase per Person', 
                    'Avg. Purchases Per Person',
                   'Total Items']

byGender['Average Purchase Price'] = byGender['Purchase Total'] / byGender['Total Items']

In [12]:
byGender_df = byGender[['Number of Buyers','Total Items', 'Average Purchase Price', 'Average Purchase per Person']]

In [13]:
byGender_df

,Number of Buyers,Total Items,Average Purchase Price,Average Purchase per Person
Gender,,,,
Female,81,113,3.203009,4.468395
Male,484,652,3.017853,4.065372
Other / Non-Disclosed,11,15,3.346000,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [14]:
purchase_data['Age'].describe()

count    780.000000
mean      22.714103
std        6.659444
min        7.000000
25%       20.000000
50%       22.000000
75%       25.000000
max       45.000000
Name: Age, dtype: float64

In [17]:
ages = [0, 10 ,20 ,30 , 40, 50]
age_labels = ['Child', 'Teen', 'Young Adult', 'Adult', 'Older']

In [80]:

by_age_df = purchase_data

by_age_df['Age Category'] = pd.cut(purchase_data['Age'], ages, labels = age_labels)
by_age_df_2 = by_age_df.groupby(['SN','Age Category'])['Price'].agg(['sum','count'])
df = by_age_df_2.reset_index()
df = df[df['count']>0]
df = df.groupby('Age Category').agg({'count':'sum'}).reset_index()
df['Percent'] = df['count']/player_count * 100

In [81]:
df

  Age Category  count    Percent
0        Child     32   5.555556
1         Teen    254  44.097222
2  Young Adult    402  69.791667
3        Adult     85  14.756944
4        Older      7   1.215278

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
purch_count = purchase_data.groupby(['SN', 'Gender']) ['Price'].agg(['sum','count'])
df = purch_count.reset_index()


byGender = df.groupby('Gender').agg({'sum': ['count', 'sum', 'mean'],
                         'count': ['mean','sum']})
byGender.columns = ['Number of Buyers', 
                    'Purchase Total', 
                    'Average Purchase per Person', 
                    'Avg. Purchases Per Person',
                   'Total Items']

byGender['Average Purchase Price'] = byGender['Purchase Total'] / byGender['Total Items']

byGender_df = byGender[['Number of Buyers','Total Items', 'Average Purchase Price', 'Average Purchase per Person']]

byGender_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame